body {
  margin: 40px;
}

#game {
  width: 30%;
  height: auto;
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 100px 100px;
  position: relative;
}

.game-container{
    vertical-align: middle;
    display: table-cell;
}

#grid {
  width: 200px;
  height: 250px;
  background-color:#999;
}

#feed {
	background-color:#FFFF99;
	border:2px solid #cccccc;
	height:100px;
	width:230px;
	padding:10px;
	top:95px;
	left:280px;
  margin-top: 75px;
}

.hidden {
  display: none;
}

button#modal-accept {
  background-image: none;
  width: 120px;
  height: 30px;
}
